.container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  margin: 20px 5px 10px 5px;
  border-radius: var(--default-border-radius);
}

.container a {
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.container a:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
  background-color: white;
  transition: background 0.2s;
}

.button a {
  font-size: 25px;
  border-radius: 5px;
}

.active {
  background-color: white;
}

